alembic==1.18.3
annotated-types==0.7.0
anyio==4.12.1
arabic-reshaper==3.0.0
asn1crypto==1.5.1
av==16.1.0
bcrypt==5.0.0
blinker==1.9.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.3.1
coloredlogs==15.0.1
cryptography==44.0.0
cssselect2==0.8.0
distro==1.9.0
filelock==3.16.1
Flask==3.1.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
freetype-py==2.5.1
fsspec==2024.10.0
greenlet==3.1.1
groq==1.0.0
gunicorn==23.0.0
h11==0.14.0
html5lib==1.1
httpcore==1.0.6
httpx>=0.27.0,<0.28.0
humanfriendly==10.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.5
lxml==5.3.0
Mako==1.3.8
MarkupSafe==3.0.2
mpmath==1.3.0
networkx==3.4.2
numpy>=2.1.0
oscrypto==1.3.0
packaging==24.2
pdfminer.six==20231228
pdfplumber==0.11.4
pillow==11.0.0
protobuf==5.29.1
psycopg2-binary==2.9.10
pycairo==1.27.0
pycparser==2.22
pydantic==2.10.4
pydantic_core==2.27.2
pydub==0.25.1
pyHanko==0.25.0
pyhanko-certvalidator==0.26.5
pypdf==5.1.0
pypdfium2==4.30.1
python-bidi==0.6.3
python-docx==1.1.2
python-dotenv==1.0.1
PyYAML==6.0.2
rapidfuzz==3.10.1
reportlab==4.2.5
requests==2.32.3
rlPyCairo==0.3.0
setuptools==75.6.0
shellingham==1.5.4
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.36
svglib==1.5.1
sympy==1.13.3
tinycss2==1.4.0
typing_extensions==4.12.2
tzlocal==5.2
uritools==4.0.3
urllib3==2.2.3
webencodings==0.5.1
Werkzeug==3.1.3
xhtml2pdf==0.2.16
